-var head_title = 'С какими трудностями вам приходится сталкиватся в общении с мужчинами?';
-var head_description = '2 вопрос теста';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';
-var q_class = 'main-question-2';
-var q_title = 'Вопрос 2'
-var q_name = 'question-2';
-var choices= ['Мужчина обещает, но не перезванивает в обещанное время. В разговоре перебивает, не дослушивает до конца. Не учитывает мое мнение. Часто не помнит о договоренностях. Может «пропасть» на несколько дней, оправдывая себя внезапными проблемами', 'Мужчина в разговоре бывает категоричен, спорит, навязывает свою точку зрения, раздражается. Все время куда-то спешит, смотрит в телефон, извиняясь постоянно отвечает на звонки и смс. Часто торопит события, не считаясь с моими планами', 'Со временем устаю «развлекать» мужчину, а он не торопится проявлять инициативу и что-либо делать. Мужчина часто занимает пассивную позицию. Если я его не подтолкну на действия — он сам не разбежится', 'Со временем мужчина считает, что уже завоевал меня и перестает ухаживать и проявлять ко мне интерес. Может делать больно, задевая за живое. Подтрунивает и даже принижает мое достоинство. Всячески дает понять, что не дотягиваю до него', 'Мужчина не оказывает должного внимания. Вроде чувствую, что интересна ему, но этот интерес не подкрепляется нужными действиями. Отношения похожи на бег на месте, никуда не двигаются. Не чувствую от него инициативы', 'Другой вариант'];
-var f_link = 'question-3';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_q
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header
		include pug/qs/main
		include pug/qs/second
		include pug/scripts
		include pug/scripts/body_bottom_scripts