-var head_title = 'Как вы воспринимаете секс?';
-var head_description = '3 вопрос теста';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';
-var q_class = 'main-question-3';
-var q_title = 'Вопрос 3'
-var q_name = 'question-3';
-var choices= ['Секс — это страсть, кайф, спонтанные эмоции, состояние эйфории и влюблённости. Особенно в начале отношений. Но по истечению некоторого времени влечение угасает и кажется, что прошла любовь', 'Сначала я хочу этого мужчину у себя в голове и сердце, а после возникает желание в теле. Часто это источник энергии. Удовольствие. Возможность выразить свои чувства к мужчине. Секс — это что-то очень сакральное и он возможен только после душевной близости', 'Секс — это необходимость в отношениях. Секс подтверждает любовь и взаимность. Помогает удержать мужчину. Секс больше нужен мужчине, а иначе он пойдет на сторону', 'Секс — это драйв и страсть. Я люблю секс, независимо от того люблю ли я мужчину. Спокойно могу заняться сексом спонтанно. Секс — это способ покорить, привязать к себе мужчину, быть для него незаменимой. А так же секс — это способ «расплатиться» с мужчиной, отблагодарить его за подарки, ухаживания, внимание', 'Люблю красивый, романтичный секс, с ухаживаниями. Секс — это проявление доверия к мужчине. Сначала мужчина должен завоевать мое сердце. Секс возможен лишь «по любви»', 'Другой вариант'];
-var f_link = 'question-4';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_q
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/qs/main
		include pug/qs/second
		include pug/scripts
		include pug/scripts/body_bottom_scripts