#last
	padding 60px 0
	background-color: #5A5857
	text-align: center
	color: #fff
.last-text
	font-size: 24px
	margin-bottom: 20px
.last-title
	font-size: 28px
	color red
	font-family: 'ComfortaaBold', sans-serif
	margin-bottom: 30px