#main
	padding 40px 0 60px
	text-align: center
	background-color:  #5A5857
	color #fff
	font-family: 'Comfortaa', sans-serif
.main-title
	font-size: 32px
	font-family: 'ComfortaaBold', sans-serif
	margin-bottom: 10px
	color $textColor
	text-transform: uppercase
.main-subtitle-1
	font-size: 22px
.main-subtitle-2
	font-size: 26px
	margin: 15px 0 20px
	span
		display block
		font-size: 30px
		color red
		font-family: 'ComfortaaBold', sans-serif
		margin-top: 20px
.video-wrapper-main
	max-width 650px
.main-text
	line-height: 1.6
	margin: 15px 0 25px
	font-family: 'Arial', sans-serif
	span
		font-weight: bold
		font-size: 20px
.price-full
	font-size: 24px
	text-align: center
	span
		text-decoration: line-through
.price-sale
	text-align: center
	color:  $textColor
	font-size: 26px
	font-family: 'ComfortaaBold', sans-serif
	margin 10px 0 15px