@media screen and (min-width 2295px)
	body
		font-size: 20px
@media screen and (max-width 991px)
	header
		padding: 15px 0
	#logo
		float: none
		display block
		margin  0 auto 5px
	.contacts
		text-align: center
		float: none
	.contact
		margin 5px 5px 0
// @media screen and (max-width 767px)
// 	.info-list
// 		padding-left: 10px
@media screen and (max-width 485px)
	header
		padding 10px 0
	#logo
		width 140px
	.contact
		font-size: 12px
		line-height: 14px
		padding-left: 18px
		background-size: 14px
#main
	padding 30px 0 40px
.main-title
	font-size: 28px
#info
#last
	padding 40px 0
.last-text
	font-size: 22px
.last-title
	font-size: 26px
footer
	padding 10px 0
	h5
		font-size: 18px
.soc-buttons a
	margin: 10px 5px
footer #conditions, footer p
	font-size: 12px
@media screen and (max-width 380px)
	.button
		max-width 96%
	#main,#info, #last
			padding 30px 0
	.main-title
		font-size: 26px
	.main-subtitle-1
	.last-text
		font-size: 20px
	.main-subtitle-2
		font-size: 24px
		span
			font-size: 26px
	.price-full
		font-size: 22px
	.price-sale
	.last-title
		font-size: 24px
	.general-title
		font-size: 24px
		margin-bottom: 20px
	.info-list
		margin-bottom: 30px
		li
			margin-bottom: 10px