section.main.main-start
	.container
		p.start-pre Эпатажный психолог Жанна Абрамова
		h1.start-title Тест
			span «Мы глазами мужчин»
		h2.start-subtitle Как они к нам относятся, и почему ожидаемое не совпадёт с действительностью