section.second.second-start
	.container  
		a.button.start-button(href="question-1") Пройти тест
		p.second-text Чтобы понять какими нас видят мужчины и на какие действия в дальнейшем от него можно рассчитывать — достаточно ответить на несколько простых вопросов
		p.second-text Давайте пройдём этот короткий тест и узнаем, как нас воспринимают мужчины и на что они ради нас готовы
		a.button.start-button(href="question-1") Пройти тест