header
	padding  25px 0
#logo
	width 230px
	float left
.contacts
	float: right
	text-align: right
	line-height: 17px
.contact
	display: inline-block
	color: #000000
	text-decoration: none
	font-size: 16px
	padding-left: 27px
	background-repeat no-repeat
	background-position left center
	margin-left: 20px
	&:focus
		text-decoration: none
		color: #000
	&:hover
		text-decoration: underline
		color: #000
.contact-tel
	margin-left: 0
	background-image url(../img/icons/phone.png)
.contact-skype
	background-image url(../img/icons/skype.png)
.contact-email
	padding-left: 33px
	background-image url(../img/icons/email.png)