@media screen and (min-width 2295px)
	body
		font-size: 20px
@media screen and (max-width 1199px)
	.end-title:before
	.question-subtitle::before
		left -45px
@media screen and (max-width 991px)
	header
		padding: 15px 0
	#logo
		float: none
		display block
		margin  0 auto 5px
	.contacts
		text-align: center
		float: none
	.contact
		margin 5px 5px 0
	.question-subtitle
		margin 0 0 0 40px
	.choice
		margin-bottom: 15px
	.choice label
		padding-left: 15px
	.end-title
		margin-left: 0
		position: static
		&:before
			position: static
			display: inline-block
			margin-right: 10px
	.modal-window
		max-width 96%
	.main-end
		min-height calc(100vh - 73px)
@media screen and (max-width 767px)
	.main-start
	.second
		padding 40px 0
	.second-text:first-of-type
		margin 40px 0 20px
	.second-text:nth-of-type(2)
		margin-bottom: 40px
	.question-title
		margin-left: 0
	.question-subtitle
		margin-left: 0
		position: static
		&:before
			position: static
			display: inline-block
			margin-right: 10px
	.question-form
		margin-top: 0
	.main-end
		padding 100px 0 40px
@media screen and (max-width 580px)
	.main-question
		padding 80px 0 40px
	.start-title span
		background-size: 100% 100%
	.start-subtitle
		margin-top: 25px
	.question-title
		background-size: 100% 100%
		max-width 280px
	.choice
		&:last-of-type
			margin-bottom: 30px
@media screen and (max-width 485px)
	header
		padding 10px 0
	#logo
		width 140px
	.contact
		font-size: 12px
		line-height: 14px
		padding-left: 18px
		background-size: 14px
	.start-pre
		margin-bottom: 20px
	.start-title span
	.question-title
		font-size: 28px
	.start-subtitle
	.question-subtitle
		font-size: 20px
	.second-text:first-of-type
		margin: 30px 0 20px
	.second-text:nth-of-type(2)
		margin 0 0 30px
	.question-subtitle::before
	.end-title::before
		width 28px
		height 26px
	.main-end
		padding 60px 0 40px
	.end-title
		font-size: 28px
		margin 20px 0 30px
	.input
		margin-bottom: 20px
	.main-end
		min-height calc(100vh - 54px)
	.end-pre
		margin-left: 0
@media screen and (max-width 380px)
	.button
		max-width 96%
	.main-start, .second
		padding 30px 0
	.main-question
		padding 40px 0 30px
	.choice label
		padding-left: 5px