section#info
	.container
		h3.general-title.general-title-info Для кого этот курс:
		ul.info-list
			li Для тех, кто устал трудиться безрезультатно
			li Для тех, у кого расходы превышают доходы
			li Для тех, у кого не ладится с личной жизнью
			li Для тех, у кого не получается привычными способами справиться с болезнью
			li Для тех, кто хочет изменить свой уровень жизни и выйти на новую ступень развития,  доходов, отношений и благосостояния
		h3.general-title.general-title-info Благодаря записям интенсива Вы узнаете:
		ul.info-list
			li О родовой удаче или неудаче, о том с какими исходными данными и предрасположенностью к удаче вы родились
			li Как негативные события на самом деле могут стать стартовыми к глобальному успеху
			li Алгоритм по решению любых проблем, чтобы не застревать в этих негативных состояниях
			li О желаниях, целях и намерениях - что общего между ними, а чем они все же отличаются
			li Критерии состояния ресурсности, при которых исполняются наши желания
			li О том кто, в каких случаях и каким образом может воровать наше с вами благополучие
		p.price.price-full Стоимость 
			span 4 900р.
		p.price.price-sale Купить записи мини-курса всего за 490р.!
		a.button.button-info(href= offer target="_blank") Купить за 490р.