section#last
	.container
		p.last-text Это очень мощные, насыщенные практиками занятия, полноценные записи которых, в благодарность за подписку, вы можете приобрести по самой низкой цене
		p.last-text Как Развить в Себе Необходимые Вам Личные Качества, и Добиться Успеха всего за Несколько Недель, Даже Если в Вас до Этого Никто Не Верил
		h4.last-title ЗАБРАТЬ ПРЯМО СЕЙЧАС ИНСТРУКЦИЮ ВАШЕГО УСПЕХА
		p.price.price-full Стоимость 
			span 4 900р.
		p.price.price-sale Купить записи мини-курса всего за 490р.!
		a.button.button-last(href= offer target="_blank") Купить за 490р.