section#main
	.container
		h1.main-title Поздравляем!
		h2.main-subtitle-1 Вы успешно прошли наш бесплатный тест, ответ на него уже вам отправлен на почту, и он буквально через несколько минут будет у вас!!!
		h3.main-subtitle-2 Но, не спешите закрывать страничку, у меня для вас уникальное предложение!
			span СМОТРИТЕ ВИДЕО!
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/01RfnPlWq2s?rel=0&autoplay=1&mute=1" allowfullscreen)
		p.main-text Записи мини-курса 
			span “Как вернуть удачу”
			|  предназначены для людей, которые мечтают получать желаемое легче и быстрее, и благоприятным для себя способом предотвращать или изменять негативные события, влияющие на жизнь и мешающие быть счастливыми и успешными. Мои техники дают невероятно удивительные результаты и всегда достигают поставленных целей
		p.price.price-full Стоимость 
			span 4 900р.
		p.price.price-sale Купить записи мини-курса всего за 490р.!
		a.button.button-main(href= offer target="_blank") Купить за 490р.