section.main.main-end
	.container
		p.end-pre На вопросы отвечает
		h1.end-title Жанна Абрамова
		form.end-form(action="/special-offer/")
			input(type="text" placeholder="Введите Ваш e-mail").input.end-input
			button.button.end-button(type='submit') Далее